<main>
  <section>

  </section>
  <section>
    <form id="form-notice" action="" method="post">
      <label for="title">Título</label><br>
      <input id="title" type="text" width="30%" placeholder="Titulo"><br><br>
      <label for="image">URL Imagen</label><br>
      <input id="image" type="text" width="30%" placeholder="URL imagen"><br><br>
      <label for="bodyNotice">Cuerpo de la Noticia</label><br>
      <input id="bodyNotice" type="text" width="30%" placeholder="Cuerpo de la noticia"><br><br>
      <label for="date">Fecha de Publicacion</label><br>
      <input id="date" type="date" width="30%" placeholder="Fecha de Publicacion"><br><br>
    </form>
  </section>
</main>

